 
/* start css.sty */
.line-10{font-size:83%;}
.rm-lmss-12{ font-family: sans-serif;}
.rm-lmbx-12{ font-weight: bold;}
.lmbsy-10x-x-120{font-weight:bold;}
.lmbsy-10x-x-120{font-weight:bold;}
.lmbsy-10x-x-120{font-weight:bold;}
.lmbsy-10x-x-80{font-size:66%;font-weight:bold;}
.lmbsy-10x-x-80{font-weight:bold;}
.lmbsy-10x-x-80{font-weight:bold;}
.lmbsy-7x-x-85{font-size:49%;font-weight:bold;}
.lmbsy-7x-x-85{font-weight:bold;}
.lmbsy-7x-x-85{font-weight:bold;}
.lmex-10{font-size:83%;}
.msam-10x-x-80{font-size:66%;}
.msam-7x-x-85{font-size:49%;}
.msbm-10x-x-80{font-size:66%;}
.msbm-7x-x-85{font-size:49%;}
.rm-lmr-8{font-size:66%;}
.rm-lmr-6{font-size:50%;}
.lmmi-8{font-size:66%;}
.lmmi-6{font-size:50%;}
.lmsy8-{font-size:66%;}
.lmsy6-{font-size:50%;}
.rm-lmss-17{font-size:141%; font-family: sans-serif;}
.rm-lmssbx-10x-x-172{font-size:143%; font-family: sans-serif; font-weight: bold;}
.rm-lmssbx-10x-x-120{ font-family: sans-serif; font-weight: bold;}
.rm-lmssbx-10x-x-144{font-size:120%; font-family: sans-serif; font-weight: bold;}
.rm-lmr-10{font-size:83%;}
.rm-lmr-7{font-size:58%;}
.lmmi-10{font-size:83%;}
.lmmi-7{font-size:58%;}
.lmsy-10{font-size:83%;}
.rm-lmss-10x-x-109{font-size:90%; font-family: sans-serif;}
.rm-lmtt-12{ font-family: monospace,monospace;}
.dsrom-8{font-size:66%;}
.rm-lmsso-12{ font-family: sans-serif; font-style: oblique;}
.rm-lmss-10{font-size:83%; font-family: sans-serif;}
.rm-lmr-5{font-size:41%;}
.lmmi-5{font-size:41%;}
.lmsy5-{font-size:41%;}
.rm-lmss-8{font-size:66%; font-family: sans-serif;}
.rm-lmsso-10{font-size:83%; font-family: sans-serif; font-style: oblique;}
.rm-lmr-10x-x-109{font-size:90%;}
.lmmi-10x-x-109{font-size:90%;}
.lmsy-10x-x-109{font-size:90%;}
.msam-10x-x-109{font-size:90%;}
.htf-calligraphy {font-family:cursive}
.htf-calligraphy-bold {font-family:cursive ; font-weight: bold; }
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mstyle[mathvariant="bold"] { font-weight: bold; font-style: normal; } 
 math mstyle[mathvariant="normal"] { font-weight: normal; font-style: normal; } 
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
tr.hline td hr{display:none}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.abstract{margin:1em;}
.equation-star td{text-align:center; vertical-align:middle; }
table.equation-star { width:100%; } 
mtd.align-odd{margin-left:2em; text-align:right;}
mtd.align-even{margin-right:2em; text-align:left;}
.boxed{border: 1px solid black; padding-left:2px; padding-right:2px;}
.rotatebox{display: inline-block;}
dt.enumerate-enumitem{float:left; clear:left; margin-left:1em; margin-right:1em;}
.tcolorbox{margin-top:0.5em;margin-bottom: 0.5em;}
.tcolorbox .lowerbox{margin-top:0pt;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
#tcolobox-1 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-1 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-2 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-2 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-3 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-3 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-4 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-4 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-5 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-5 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-6 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-6 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-7 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-7 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-8 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-8 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-9 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-9 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-10 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-10 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-11 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-11 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-12 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-12 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-13 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-13 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-14 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-14 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-15 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-15 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-16 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-16 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-17 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-17 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-18 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-18 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-19 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-19 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-20 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-20 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-21 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-21 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-22 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-22 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-23 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-23 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-24 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-24 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-25 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-25 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-26 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-26 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-27 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-27 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-28 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-28 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-29 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-29 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-30 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-30 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-31 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-31 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-32 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-32 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-33 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-33 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-34 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-34 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-35 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-35 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-36 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-36 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-37 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-37 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-38 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-38 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-39 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-39 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-40 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-40 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-41 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-41 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-42 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-42 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-43 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-43 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-44 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-44 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-45 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-45 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-46 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-46 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-47 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-47 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-48 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-48 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-49 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-49 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-50 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-50 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-51 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-51 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-52 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-52 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-53 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-53 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-54 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-54 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-55 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-55 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-56 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-56 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-57 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-57 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-58 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-58 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-59 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-59 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-60 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-60 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-61 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-61 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-62 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-62 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-63 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-63 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-64 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-64 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-65 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-65 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-66 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-66 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-67 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-67 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-68 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-68 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-69 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-69 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-70 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-70 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
.columns-2 p:first-child { margin-top: 0em; }
.columns-2{-moz-column-count:2; -webkit-column-count:2; column-count:2; -moz-column-gap: 10.0pt; -webkit-column-gap: 10.0pt; column-gap: 10.0pt; -moz-column-rule-width: 0.0pt; -webkit-column-rule-width: 0.0pt; column-rule-rule-width: 0.0pt; -moz-column-rule-color: #555;; -webkit-column-rule-color: #555;; column-rule-color: #555;; -moz-column-rule-style: outset; -webkit-column-rule-style: outset; column-rule-style: outset; -moz-column-fill: balance; -webkit-column-fill: balance; column-fill: balance; }
#tcolobox-71 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-71 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-72 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-72 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-73 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-73 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-74 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-74 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-75 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-75 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-76 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-76 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-77 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-77 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-78 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-78 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-79 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-79 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-80 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-80 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-81 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-81 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-82 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-82 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-83 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-83 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-84 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-84 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-85 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-85 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-86 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-86 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-87 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-87 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-88 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-88 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-89 .tcolorbox-title{color: #000000; background-color: #404040;}
#tcolobox-89 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-90 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-90 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-91 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-91 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-92 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-92 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-93 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-93 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-94 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-94 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-95 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-95 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-96 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-96 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-97 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-97 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-98 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-98 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-99 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-99 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-100 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-100 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-101 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-101 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-102 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-102 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-103 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-103 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-104 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-104 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-105 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-105 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-106 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-106 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-107 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-107 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-108 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-108 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-109 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-109 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-110 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-110 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-111 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-111 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-112 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-112 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-113 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-113 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-114 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-114 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-115 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-115 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-116 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-116 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-117 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-117 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-118 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-118 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-119 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-119 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-120 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-120 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-121 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-121 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-122 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-122 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-123 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-123 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-124 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-124 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-125 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-125 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-126 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-126 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-127 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-127 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-128 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-128 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-129 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-129 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-130 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-130 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-131 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-131 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-132 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-132 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-133 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-133 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-134 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-134 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-135 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-135 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-136 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-136 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-137 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-137 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-138 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-138 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-139 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-139 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-140 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-140 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-141 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-141 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-142 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-142 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-143 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-143 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-144 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-144 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-145 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-145 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-146 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-146 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-147 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-147 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-148 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-148 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-149 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-149 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-150 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-150 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-151 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-151 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-152 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-152 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-153 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-153 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-154 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-154 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-155 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-155 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-156 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-156 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-157 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-157 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-158 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-158 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-159 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-159 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-160 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-160 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-161 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-161 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-162 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-162 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-163 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-163 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-164 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-164 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-165 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-165 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-166 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-166 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-167 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-167 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-168 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-168 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-169 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-169 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-170 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-170 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-171 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-171 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-172 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-172 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-173 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-173 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-174 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-174 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-175 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-175 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-176 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-176 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-177 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-177 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-178 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-178 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-179 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-179 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-180 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-180 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-181 .tcolorbox-title{color: #545499; background-color: #404040;}
#tcolobox-181 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-182 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-182 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
#tcolobox-183 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-183 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-184 .tcolorbox-title{color: #FFFFFF; background-color: #545499;}
#tcolobox-184 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #545499;}
/* end css.sty */

